$layout: inline-block;


#user-menu {
  height: 50px;
  > a {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// .dropdown-toggle {
//   color: #fff;
//   height: 50px;
// }

.hidden-xs {
  display: $layout;
  height: 100%;
  margin-left: 5px;
  line-height: 50px;
}
.odd{
  .modify{
    margin-right: 10px;
  }
  .modify,.delete{
    cursor: pointer
  }
  .modify:hover,.delete:hover{
    color:rgb(231, 17, 17)
  }
}
.table-striped>tbody>tr:hover:nth-child(n) {
    background: rgb(196, 189, 189)
  }
  .table>tbody>tr>td{
    vertical-align: middle
  }